.mr-10 {
    margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.card-number {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.card-number .added {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: #555;
    width: 200px;
}

.card-number .ordered {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #555;
    width: 200px;
}