<h1 class="mat-h1">Exercicio 2</h1>
<mat-card>
    <form class="example-form">
        <mat-form-field class="mr-10">
            <mat-label>Valor 1 </mat-label>
            <input matInput type="number" [(ngModel)]="valueNumberOne" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="mr-10">
            <mat-label>Valor 2</mat-label>
            <input matInput type="number" [(ngModel)]="valueNumberTwo" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Operador</mat-label>
            <mat-select ngDefaultControl [(ngModel)]="selectedOperator" (selectionChange)="onSelectOperator()" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let op of operatorsList" [value]="op">{{op}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <p *ngIf="!valueNumberOne || !valueNumberTwo">Preencha os dois dados</p>
    <p *ngIf="valueNumberOne && valueNumberTwo">Resultado: {{ result }}</p>
</mat-card>